<div class="new_procedure has_top_banner" ng-controller="NewProcedure">
  <form class="form-horizontal">

    <div class="top_banner"
      <a href="/index.html" class="cell">
        <img class="logo" src="logo.svg">
      </a>
      <h1 class="cell">New Procedure</h1>
      <div class="cell">
        <input type="submit" class="btn-primary btn cell" value="Create" ng-click="save()">
      </div>
      <div class="message" ng-class="message_class" ng-bind="message">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <input name="title" ng-model="title" type="text" required>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Snomed ID</label>
      <div class="controls">
        <input name="snomed_id" ng-model="snomed_id" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Precautions</label>
      <div class="controls">
        <textarea name="precautions" ng-model="precautions"></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Consent</label>
      <div class="controls">
        <textarea name="consent" ng-model="consent"></textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Materials</label>
      <div class="controls">
        <textarea name="materials" ng-model="materials"></textarea>
      </div>
    </div>

    <legend>Steps</legend>

    <div ng-repeat="step in steps">
      <div class="control-group">
        <label class="control-label">Title of {{ $index + 1 }}</label>
        <div class="controls">
          <input name="step_title" class="step_title" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">What to do</label>
        <div class="controls">
          <textarea name="step_to_do" class="step_to_do"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">What to say</label>
        <div class="controls">
          <textarea name="step_to_say" class="step_to_say"></textarea>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn" ng-click="inc(steps)">Add a Step</button>
      </div>
    </div>

    <legend>Complications</legend>

    <div ng-repeat="complication in complications">
      <div class="control-group">
        <label class="control-label">Title of {{ $index + 1 }}</label>
        <div class="controls">
          <input name="complication_title" class="complication_title" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <textarea name="complication_text" class="complication_text"></textarea>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn" ng-click="inc(complications)">Add a Complication</button>
      </div>
    </div>
  </form>
</div>
