<div class="procedure" ng-controller="Procedure">
  <a class="logo" href="/index.html">
    <img src="logo.svg">
  </a>
  <div class="message" ng-bind="message" ng-class="message_class"></div>

  <h1>{{ title }}</h1>

  <ul class="toc">
    <li>
      <a ng-click="scroll('precautions')">Precautions</a>
    </li>
    <li>
      <a ng-click="scroll('consent')">Consent</a></li>
    <li>
      <a ng-click="scroll('materials')">Materials</a></li>
    <li class="label">Steps:</li>
    <li ng-repeat="step in steps">
      <a ng-click="scroll('step-' + $index)">{{ step.title }}</a>
    </li>
  </ul>

  <div class="step" id="precautions">
    <h2>Precautions</h2>
    <div ng-bind-html-unsafe="marked(precautions||'')"></div>
  </div>

  <div class="step" id="consent">
    <h2>Consent</h2>
    <div ng-bind-html-unsafe="marked(consent||'')"></div>
  </div>

  <div class="step" id="materials">
    <h2>Materials</h2>
    <div ng-bind-html-unsafe="marked(materials||'')"></div>
  </div>


  <div class="step" ng-repeat="step in steps" id="step-{{$index}}">
    <h2><span class="index">{{ $index + 1 }}</span> {{ step.title }}</h2>
    <div ng-bind-html-unsafe="marked(step.to_do||'')"></div>
    <h3>What to say?</h3>
    <div ng-bind-html-unsafe="marked(step.to_say||'')"></div>
  </div>
</div>
