<div class="search" ng-controller="Search">
  <img class="logo" src="logo.svg">

  <form class="form-search" ng-submit="search()">
    <input type="text" ng-model="term" class="input-medium search-query search-field" required placeholder="Search for a procedure">
    <input ng-disabled="!term" type="submit" class="btn-primary btn" value="Search">
  </form>

  <div class="querying" ng-show="status == 'querying'">Query on it's way...</div>

  <p class="create_text" ng-show="status == 'got_reply'">
    <button class="btn" ng-click="create()" ng-disabled="!term">Create</button> a new procedure based on your search.
  </p>

  <div class="results" ng-show="status == 'got_reply'">
    <a class="result" ng-repeat="result in results"
      ng-bind="result.title" href="#{{result.id}}"></a>
  </div>
</div>
